* {
}
body {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/space_station_over_earth.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    font-family: Impact, sans-serif;
    text-shadow: 4px 4px 4px #666;
    color: #C0C0C0;
}
#map {
  width: 50%;
  height: 400px;
  background-color: grey;
  float: right;
}
#return-location {
}

.panel-default{
    background: transparent;
}

.jumbotron {
  margin-top: 20px;
}



.panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }

  #locationSearch {
    height:50px;
    font-size:14pt;
}